# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.local
*.key
*.pem

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor
.vscode/
.idea/
*.sublime-project
# Binaries & Tunnels
cloudflared.exe
*.exe
